[data-cover] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.swiper-overlay {
  display: flex;
  height: 100%;
  align-items: center;
}
.swiper-pagination-bullet {
  opacity: .7;
}
.swiper-pagination-bullet-active {
  background: $light;
}
.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
  i {
    color: $dark;
    transition: color .1s, background-color .1s;
  }
  &:hover i {
    color: $light;
    background-color: rgba(0,0,0,.5);
  }
}
.swiper-nav {
  font-size: 0; //css-tricks.com/fighting-the-space-between-inline-block-elements/
  text-align: right;
  .swiper-nav-prev,
  .swiper-nav-next {
    display: inline-block;
    cursor: pointer;
    color: rgba(0,0,0,0.5);
    &:hover {
      color: $black;
    }
    &.swiper-button-disabled {
      color: rgba(0,0,0,0.1);
    }
  }
  .swiper-nav-prev {
    @include border-left-radius(4px);
  }
  .swiper-nav-next {
    @include border-right-radius(4px);
  }
}
.swiper-slide .animate {
  visibility: hidden;
}
.text-shadow {
  text-shadow: 1px 1px 2px $body-color;
}
@include media-breakpoint-only(sm) {
  .home-slider {
    .display-4 {
      font-size: 2.5rem;
    }
    .h1 {
      font-size: 1.5rem;
    }
    .h3 {
      font-size: 1rem;
    }
    .md-5 {
      font-size: 4rem;
    }
  }
}
@include media-breakpoint-only(xs) {
  .home-slider {
    .display-4 {
      font-size: 2rem;
    }
    .h1 {
      font-size: 1rem;
    }
    .h3 {
      font-size: .75rem;
    }
    .display-4,
    .h1 {
      font-weight: normal !important;
      text-shadow: none;
    }
    .btn-sm {
      font-size: .75rem;
    }
    .md-5 {
      font-size: 3rem;
    }
  }
}
// because swiper-container have overflow:hidden, so give more space for hover effect
.swiper-container-have-hover {
  padding: 4px;
  margin-right: -4px;
  margin-left: -4px;
}