<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reserv">
	<select id="reservationList" resultType="ReservationDTO">
		select * from
		reservation where
		playYear=#{playYear} and playMonth=#{playMonth} and
		playDay=#{playDay} and playTime = #{playTime}
	</select>
	<insert id="addReservation" parameterType="ReservationDTO">
		insert into reservation values
		(#{userid},#{username},#{floor},#{fieldNum},#{playYear},#{playMonth},#{playDay},#{playTime},#{reserve_passwd})
	</insert>
</mapper>