<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reserv">
	<select id="reservationList" resultType="ReservationDTO">
		select * from
		reservation where
		userid=#{userid} order by playMonth desc, playDay desc, playTime desc
	</select>
	<insert id="addReservation" parameterType="ReservationDTO">
		insert into
		reservation values
		(#{userid},#{username},#{floor},#{fieldNum},#{playYear},#{playMonth},#{playDay},#{playTime},#{reserve_passwd})
	</insert>
	<delete id="removeReservation" parameterType="hashmap">
		delete from reservation where playYear=#{playYear} and
		playMonth=#{playMonth} and playDay=#{playDay} and playTime=#{playTime}
		and reserve_passwd = #{reserve_passwd}
	</delete>
	<select id="checkReservation" parameterType="hashmap" resultType="int">
	select count(*) from reservation where floor=#{floor} and playYear=#{playYear} and playMonth=#{playMonth} and playDay=#{playDay} and playTime=#{playTime}
	</select>
</mapper>